.lista_ordenada li {
    background-color: yellow;
}

.lista_ordenada .par {
    color: lime;
}

.lista_ordenada .impar {
    text-transform: uppercase;
}

.titulo {
    color: red;

}

.titulo em {
    font-size: 40px;
}

li {
    font-size: 20px;
}

li em {
    border: 1px solid black;
    font-size: 40px;
    font-weight: bold;
}
.lista_desordenada li {
    color: rgb(26, 77, 230);
}

.lista_desordenada .not_color {
    background-color: rgb(235, 0, 137);
}

.aliados li:hover {
    font-weight: bolder;
}

.aliados a {
    color: black;
}

.aliados a:visited {
    color: black;
}

.stack a:hover {
    color: #f2720c;
}

.w3schools a:hover {
    color: #04AA6D;
}

.web_docs a:hover {
    color: #83bfff;
}

.dev_docs a:hover {
    color: yellow;
}

.trybe a:hover {
    color: #036b52;
}