.super-mario {
    width: 200px;
    position: absolute;
    left: 40px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 50px;
  }
  
  .baloon {
      position: absolute;
      left: 300px;
      top: 20px;
      z-index: 2;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 310px;
    z-index: 3;
    top: 60px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 200px;
    z-index: 1;
  }